<footer>
   <div class="f-info">

      <div class="f-info-socails" style="margin-left: 1rem;">
          <a href="https://www.facebook.com/profile.php?id=61584333584977" target="_blank">
              <i class="fa-brands fa-square-facebook"></i>
          </a>

          <a href="https://www.instagram.com/rest_aura18?igsh=MWNiem53bmoxMmloaw==" target="_blank">
              <i class="fa-brands fa-square-instagram"></i>
          </a>

          <a href="https://www.linkedin.com" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
          </a>
      </div>

      <div class="f-info-brand">&copy;2025 RestAura Homes</div>

      <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
      </div>

   </div> 
</footer>
